In [3]:
import pandas as pd
import numpy as np
import seaborn as snb
import matplotlib.pyplot as plt
#  Machine learning libraies
import sklearn as ski
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression

# Buidling models
from sklearn.model_selection import train_test_split
# Prepocessing the data
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
# Evaluation
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
my_data = pd.read_csv("./Data/Medical_insurance_dataset.csv")

In [5]:
# Display my_data
my_data

      User ID  Gender  Age  EstimatedSalary      Purchased
0    15624510    Male   19            19000  not-purchased
1    15810944    Male   35            20000  not-purchased
2    15668575  Female   26            43000  not-purchased
3    15603246  Female   27            57000  not-purchased
4    15804002    Male   19            76000  not-purchased
..        ...     ...  ...              ...            ...
395  15691863  Female   46            41000      purchased
396  15706071    Male   51            23000      purchased
397  15654296  Female   50            20000      purchased
398  15755018    Male   36            33000  not-purchased
399  15594041  Female   49            36000      purchased

[400 rows x 5 columns]

In [7]:
my_data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [5]:
# Prepocessimg data
# encoding Gender into numbers
l_encode = LabelEncoder()
d_encode = my_data
d_encode.Gender = l_encode.fit_transform(d_encode.Gender)

In [6]:
d_encode

      User ID  Gender  Age  EstimatedSalary      Purchased
0    15624510       1   19            19000  not-purchased
1    15810944       1   35            20000  not-purchased
2    15668575       0   26            43000  not-purchased
3    15603246       0   27            57000  not-purchased
4    15804002       1   19            76000  not-purchased
..        ...     ...  ...              ...            ...
395  15691863       0   46            41000      purchased
396  15706071       1   51            23000      purchased
397  15654296       0   50            20000      purchased
398  15755018       1   36            33000  not-purchased
399  15594041       0   49            36000      purchased

[400 rows x 5 columns]

In [7]:
# Encoding Purchased into numbers
d_encode.Purchased = l_encode.fit_transform(d_encode.Purchased)

In [8]:
# Final Encoded data
d_encode

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [9]:
# Initialising X and y
X= d_encode[["User ID", "Age", "EstimatedSalary", "Purchased"]]
y= d_encode[[ "Gender"]]

In [10]:
# Spliting the data
X_train,X_test,y_train,y_test= train_test_split(X,y, test_size= 0.3, random_state=42)

In [11]:
# Displaying the splitted size
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((280, 4), (120, 4), (280, 1), (120, 1))

In [12]:
# Normalisation
Scaler = StandardScaler()
X_train = Scaler.fit_transform(X_train)
X_test = Scaler.fit_transform(X_test)

In [13]:
# Building Models
# initialising the models
decision_model = DecisionTreeClassifier()
random_model= RandomForestClassifier()
kn_model= KNeighborsClassifier()
linear_model= LinearRegression()
# fitting the model
decision_model.fit(X_train,y_train)
random_model.fit(X_train,y_train)
kn_model.fit(X_train,y_train)

/tmp/ipykernel_4658/3204342763.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  random_model.fit(X_train,y_train)
/home/salim/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [14]:
# Predicting
y_predict_decision = decision_model.predict(X_test)
y_predict_random = random_model.predict(X_test)
y_predict_kn = kn_model.predict(X_test)

In [15]:
# Evaluation
decision_accuracy= accuracy_score(y_test,y_predict_decision)
random_accuracy= accuracy_score(y_test,y_predict_random)
kn_accuracy= accuracy_score(y_test,y_predict_kn)

In [16]:
# Output
print("Decision Accuracy:")
print(decision_accuracy)
print("************")
print(" ")
print("Random Accuracy:")
print(random_accuracy)
print("************")
print(" ")
print("Kn Accuracy:")
print(kn_accuracy)
print("************")
print(" ")

Decision Accuracy:
0.48333333333333334
************

Random Accuracy:
0.5166666666666667
************

Kn Accuracy:
0.5083333333333333
************