In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math 
import statistics as st

In [2]:
data = pd.read_csv("./Data/bill_authentication.csv")

In [3]:
data

      Variance  Skewness  Curtosis  Entropy  Class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [4]:
data.head(6)

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0
5   4.36840    9.6718   -3.9606 -3.16250      0

In [6]:
data.tail(4)

      Variance  Skewness  Curtosis  Entropy  Class
1368   -1.3887  -4.87730    6.4774  0.34179      1
1369   -3.7503 -13.45860   17.5932 -2.77710      1
1370   -3.5637  -8.38270   12.3930 -1.28230      1
1371   -2.5419  -0.65804    2.6842  1.19520      1

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Variance  1372 non-null   float64
 1   Skewness  1372 non-null   float64
 2   Curtosis  1372 non-null   float64
 3   Entropy   1372 non-null   float64
 4   Class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [9]:
data.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [10]:
data.columns

Index(['Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class'], dtype='object')

In [11]:
data.Variance

0       3.62160
1       4.54590
2       3.86600
3       3.45660
4       0.32924
         ...
1367    0.40614
1368   -1.38870
1369   -3.75030
1370   -3.56370
1371   -2.54190
Name: Variance, Length: 1372, dtype: float64

In [16]:
data["Variance"]

0       3.62160
1       4.54590
2       3.86600
3       3.45660
4       0.32924
         ...
1367    0.40614
1368   -1.38870
1369   -3.75030
1370   -3.56370
1371   -2.54190
Name: Variance, Length: 1372, dtype: float64

In [17]:
data["Variance"][4]

0.32924

In [18]:
data["Variance"][4:20]

4     0.32924
5     4.36840
6     3.59120
7     2.09220
8     3.20320
9     1.53560
10    1.22470
11    3.98990
12    1.89930
13   -1.57680
14    3.40400
15    4.67650
16    2.67190
17    0.80355
18    1.44790
19    5.24230
Name: Variance, dtype: float64

In [19]:
data["Variance"].sum()

595.0847726999998

In [20]:
# can get minimiun, maximium number 
data["Variance"].min()

-7.0421

In [21]:
data["Variance"].std()

2.842762586278562

In [24]:
# Using Stastistics
st.stdev(data["Variance"])

2.8427625862785613

In [25]:
# to get percentage 
percent= (data["Variance"][0] / data["Variance"].sum() ) *100

In [26]:
print(percent)

0.6085855606031038

In [27]:
my_data= np.array(data["Variance"])

In [28]:
np.square(data["Variance"][4])

0.10839897759999999

In [ ]:
# JAN-22

In [ ]:
# JAN-23